.Header {
  height: 100px;
  background-color: transparent;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;

    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      width: 100px;
      color: white;
      text-decoration: none;
      font-size: 11px;
      letter-spacing: 2px;
      box-sizing: border-box;
      font-family: 'Trade Gothic W01', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'sans-serif';

      &:hover {
        margin-bottom: -4px;
        border-bottom: 4px solid white;
      }
    }
  }

}
