.content {
  display: flex;
  height: calc(100vh - 100px);
  background-color: #111111;
  justify-content: center;
  align-items: center;

  .menu {
    position: absolute;
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 180px 180px 180px;
    .item {
      font-size: 30px;
      text-align: center;
      border: 1px solid rgba(220, 220, 220, 0.1);
    }
    .item-1 {
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      &:hover {
        background: rgba(70, 37, 95, 0.5);
      }
    }

    .item-2 {
      @extend .item-1;
    }
    .item-3 {
      @extend .item-1;
    }
    .item-4 {
      @extend .item-1;
    }
    .item-5 {
      @extend .item-1;
    }

    .item-6 {
      @extend .item-1;
    }
    .item-7 {
      @extend .item-1;
    }
    .item-8 {
      @extend .item-1;
    }
    .item-9 {
      @extend .item-1;
    }
  }
}
